#page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
.post-col-1 { width: 8.33333333%; }
.post-col-2 { width: 16.6666666%; }
.post-col-3 { width: 25%; }
.post-col-4 { width: 33.3333333%; }
.post-col-5 { width: 41.66666667%; }
.post-col-6 { width: 50%; }
.post-col-7 { width: 58.33333333%; }
.post-col-8 { width: 66.66666667%; }
.post-col-9 { width: 75%; }
.post-col-10 { width: 83.33333333%; }
.post-col-11 { width: 91.66666667%; }
.post-col-12 { width: 100%; }
.post-col-1,
.post-col-2,
.post-col-3,
.post-col-4,
.post-col-5,
.post-col-6,
.post-col-7,
.post-col-8,
.post-col-9,
.post-col-10,
.post-col-11,
.post-col-inline-5 { 
  float: left; 
  @include phone { 
    width: 100%;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
[class*="post-col-"] {
  padding-right: 15px;
  padding-left: 15px;
}
.post-col-no-margin {
  padding-left: 0;
  padding-right: 0;
}
.post-col-inline-5 {
  width: 20%;
}
.center-div {
  margin: 0 auto;
}
.post-bottom { 
  margin-bottom: 30px; 
}
.post-bottom-2em {
  margin-bottom: 2em;
}
.post-bottom-3em {
  margin-bottom: 3em;
}
.post-bottom-4em {
  margin-bottom: 4em;
}
.post-bottom-5em {
  margin-bottom: 5em;
}
.post-bottom-6em {
  margin-bottom: 6em;
}
.post-top-2em {
  margin-top: 2em;
}
.post-top-3em {
  margin-top: 3em;
}
.post-top-4em {
  margin-top: 4em;
}
.post-top-5em {
  margin-top: 5em;
}
.post-top-6em {
  margin-top: 6em;
}
.width-90p {
  width: 90%;
}
.width-80p {
  width: 80%;
}
.width-70p {
  width: 70%;
}
.width-60p {
  width: 60%;
}
